<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<link rel="dns-prefetch" href="https://stats.vincefalconi.com" />
	<link rel="stylesheet" type="text/css" href="{% timestamp '/assets/styles.css' %}" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if post.title %}{{ post.title | downcase }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width">
	<link rel="author" type="text/plain" href="{{ site.url }}/humans.txt" />
	<link rel="canonical" href="{{ site.url }}/{{ post.permalink }}" />
	<link rel="alternate" type="application/rss+xml" href="https://tattooed.dev/feed.xml" />

	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ post.title | default: site.ogp.title }}" />
	<meta property="og:url" content="{{ site.url }}/{{ post.permalink | default: '' }}" />
	<meta property="og:image" content="{{ site.url }}{{ post.cover_image.uri | default: site.ogp.image }}" />
	<meta property="og:site_name" content="{{ site.ogp.title }}" />
	<meta property="og:description" content="{{ post.description | default: site.ogp.description }}" />
	<meta property="og:locale" content="en_US" />

	{% if post.cover_image.uri %}
		<meta name="twitter:card" content="summary_large_image" />
	{% else %}
		<meta name="twitter:card" content="summary" />
	{% endif %}
	<meta name="twitter:site" content="@vincefalconi" />
	<meta name="twitter:creator" content="@vincefalconi" />
	<meta name="twitter:title" content="{{ post.title | default: site.ogp.title }}" />
	<meta name="twitter:description" content="{{ post.description | default: site.ogp.description }}" />
	<meta name="twitter:image" content="{{ site.url }}{{ post.cover_image.uri | default: site.ogp.image }}" />

</head>
<body>
	<header class="page-header">
		{% include sigil--main %}
	</header>
	{% include site-nav %}
	<main role="main">
		{{ content }}
	</main>
	<footer class="site-footer">
		<ul class="social-profiles" role="navigation">
			<li class="social-icon social-icon--twitter"><a href="https://twitter.com/{{ site.profiles.twitter }}" class="social-icon-text">Twitter</a></li>
			<li class="social-icon social-icon--github"><a href="https://www.github.com/{{ site.profiles.github }}" class="social-icon-text">GitHub</a></li>
			<li class="social-icon social-icon--keybase"><a href="https://keybase.io/{{ site.profiles.keybase }}" class="social-icon-text">Keybase</a></li>
			<li class="social-icon social-icon--rss"><a href="/feed.xml" class="social-icon-text">RSS</a></li>
		</ul>
		<p class="site-footer-content">Blog posts are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>, and code samples are licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>.</p>
	</footer>
	<script src="{% timestamp '/assets/fathom.js' %}"></script>
</body>
</html>
